@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #ffffff;
  color: #000000;
}

html {
  font-family: var(--font-questrial);
}

h1 {
  font-family: var(--font-montserrat);
}

h2 {
  font-family: var(--font-montserrat);
}

h3 {
  font-family: var(--font-montserrat);
}

h4 {
  font-family: var(--font-montserrat);
}
#chips,
#chips canvas {
  width: 500px !important;
  height: 500px !important;
}
